<form
  [formGroup]="registrationForm"
  #formDirective="ngForm"
  novalidate
  (ngSubmit)="onSubmit(formDirective)"
>
  <h1>Registration Form</h1>

  <mat-form-field appearance="standard">
    <mat-label>First name</mat-label>
    <input
      matInput
      placeholder="Enter your first name."
      formControlName="firstNames"
    />
    <mat-error *ngIf="firstNames?.invalid">{{ firstNamesInvalid() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Last name</mat-label>
    <input
      matInput
      placeholder="Enter your last name."
      formControlName="lastNames"
    />
    <mat-error *ngIf="lastNames?.invalid">{{ lastNamesInvalid() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Genre</mat-label>
    <mat-select formControlName="genre">
      <mat-option value="Ffemale">Female</mat-option>
      <mat-option value="male">Male</mat-option>
      <mat-option value="others">Others</mat-option>
    </mat-select>
    <mat-error *ngIf="genre?.invalid">{{ genreInvalid() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Date of birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birth" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-error *ngIf="birth?.invalid">{{ birthInvalid() }}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email." formControlName="email" />
    <mat-error *ngIf="email?.invalid">{{ emailInvalid() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide1 ? 'password' : 'text'"
      placeholder="Enter your password."
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide1 = !hide1"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide1"
      type="button"
    >
      <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="password?.invalid">{{ passwordInvalid() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      [type]="hide2 ? 'password' : 'text'"
      placeholder="Enter your password."
      formControlName="confirmPassword"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide2 = !hide2"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide2"
      type="button"
    >
      <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword?.invalid">{{
      confirmPasswordInvalid()
    }}</mat-error>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registrationForm.invalid"
    >
      Create an account
    </button>
  </div>
</form>
